
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: hsl(113, 7%, 75%);
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

h1 {
    color:rgb(49, 3, 3);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(113, 7%, 75%);
}

a:link{
    color: hsl(108, 3%, 33%);
}
a:visited{
    color:hsl(120, 2%, 9%);
}
a:hover{
    color: white;
}
a:active{
    color: hsl(108, 3%, 33%);
}

header{
    height: 100vh;
    width: 300px;
    background-color: hsl(113, 7%, 75%);
    position: fixed;
}

main{
    margin-left: 300px;
}

p{
    color: rgb(49, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
}

#ranking article{
    display: flex;
    display: inline-block;
    padding: 10px;
}

div{
    margin-left: 300px;
}

#albuns article{
    display: flex;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

#maisouvidas article{
    display: flex;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

#maiscurtidas article{
    display: flex;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

body h1{
    text-align: center;
    height: 35px;
    width: 100%;
    background-color: rgb(109, 78, 78);
}

#artista img{
    float: center;
    padding: 30px;
}

.taylorswift{
    transition: all 0.5s;
    cursor: pointer;
}
.taylorswift:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.global{
    transition: all 0.5s;
    cursor: pointer;
}
.global:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.global1{
    transition: all 0.5s;
    cursor: pointer;
}
.global1:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.global2{
    transition: all 0.5s;
    cursor: pointer;
}
.global2:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.global3{
    transition: all 0.5s;
    cursor: pointer;
}
.global3:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}